<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="Create.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Room</title>
  </head>
  <body>
    <div class="navbar">
      <img class="navbarimg" src="./assets/Navbar.png" alt="" />
    </div>
    <div class="main">
      <div class="instruct">The Room Code:</div>
       <div class="roomcode"><%= roomcode %></div> 
      <button class="joinbtn">Join</button>
    </div>
    <script src="Create.js"></script>
  </body>
</html>
