<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Join.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join a Room</title>
</head>
<body>
    <div class="navbar">
        <img class="navbarimg" src="./assets/Navbar.png" alt="">
    </div>
    <div class="main">
        <div class="inputtaker">
            <div class="instructer">Enter the Room code</div>
            <input type="text" class="inpjoiningcode">
            <button class="joinstartbtn">Join</button>
        </div>
    </div>
    <script src="Join.js"></script>
</body>
</html>